* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}

.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informacoes {
    flex: 1;
    padding: 3rem;
}

.container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #1875E8;
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.container__botoes {
    display: flex;
    gap: 2em;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    padding-bottom: 3rem;
}

p, button {
    font-family: 'Inter', sans-serif;
}

.texto__paragrafo {
    font-size: 32px;
    font-weight: 400;
}

button:disabled {
    background-color: gray;
}

/* Estilos padrão para todos os tamanhos de tela */

/* ... (seu código CSS anterior) */

/* Media query para pequenas telas (até 600px) */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 45px;
        padding: 1px;
        margin-bottom: 11px;
    }

    .container {
        width: 80%;
        height: 65%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 24px;
        border: 1px solid #1875E8;
        box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
        background-image: url(img/Ruido.png);
        background-size: 100% 100%;
        position: relative;
    }

    .container__botao {
        font-size: 20px;
        width: 182px;
    }

    .texto__paragrafo {
        font-size: 25px;
    }

    .rvTextRow {
        padding-top: 0em;
        padding-bottom: 0em;
        padding: 0px;
    }
    .rvButtonRow {
        padding-right: 5em;
        padding-bottom: 1em;
        text-align: right;
        font-size: medium;
    }

    .rvButton {
        cursor: pointer;
        display: inline-block;
        margin-left: 1em;
        padding: 0.8em 2em;
        border-radius: 9px;
        font-size: small;
    }

    .container__imagem-pessoa {
        display: none
        ;
    }

    /* Adicione mais estilos específicos para pequenas telas aqui */
}

/* Media query para celulares (de 600px até 768px) */
@media screen and (min-width: 601px) and (max-width: 768px) {
    h1 {
        font-size: 50px;
        padding: 1px;
    }

    .texto__paragrafo {
        font-size: 25px;
        margin: 0px;
    }

    .container {
        width: 100vw;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 24px;
        border: 1px solid #1875E8;
        box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
        background-image: url(img/Ruido.png);
        background-size: 100% 100%;
        position: relative;
    }
    .container__informacoes {
        flex: 1;
        padding: 3rem;
        height: 73vh;
    }
    .container__input {
        width: 100%;
        height: 63px;
        border-radius: 16px;
        background-color: #FFF;
        border: none;
        color: #1875E8;
        padding: 2rem;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
    }

    .container__botao {
        font-size: 20px;
        width: 189px;
    }

    

    .container__imagem-pessoa {
            height: 157px;
            margin-bottom: 250px;
    }

    .rvTextRow {
        padding: 0px;
        padding-top: 0em;
    padding-bottom: 0em;
    }
    .rvButtonRow {
        padding-right: 4em;
        padding-bottom: 0em;
        text-align: right;
        font-size: medium;
    }

    .rvButton {
        cursor: pointer;
        display: inline-block;
        margin-left: 1em;
        padding: 0.8em 2em;
        border-radius: 10px;
        font-size: small;
    }

    /* Adicione mais estilos específicos para celulares aqui */
}

/* Media query para tablets (de 768px até 992px) */
@media screen and (min-width: 769px) and (max-width: 992px) {
    h1 {
        font-size: 50px;
    }

    .container__botao {
        font-size: 26px;
    }

    .texto__paragrafo {
        font-size: 22px;
    }

    /* Adicione mais estilos específicos para tablets aqui */
}

/* Media query para desktops (de 993px até 1200px) */
@media screen and (min-width: 993px) and (max-width: 1200px) {
    h1 {
        font-size: 37px;
    }

    .container__botao {
        font-size: 24px;
        width: 200px;
    }

    .texto__paragrafo {
        font-size: 23px;
    }

    /* Adicione mais estilos específicos para desktops aqui */
}

/* Media query para grandes telas (acima de 1200px) */
@media screen and (min-width: 1201px) {
    /* Adicione estilos específicos para grandes telas aqui */
}
